.logout-but{
    position: absolute;
    top: 9%;
    right: 6%;
    border: 3px solid #DDE8EC;
    height: 56px;
    width: 100px;
    background: #B1DBEA;
}

.positions{
    position: absolute;
    top: 3.5%;
    right: 4.5%;
}

.end-texts{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.app-lines{
    position: absolute;
    top: 20%;
    right: 6%;
    width: 224px;
    height: 0px;
    height: 0px;
    width: 224px;
    left: 201px;
    border: 2px solid #ACD7FF;
    border-radius: 0px;
}

.change-speed{
    left: 31.65%;
}