.logout-but{
    position: relative;
    float : right;
    margin-top : 5%;
    border: 3px solid #DDE8EC;
    height: 56px;
    width: 100px;
    background: #B1DBEA;
}

.pass-but{
    position: relative;
    float : right;
    margin-top : 5%;
    margin-right: -15%;
    border: 3px solid #DDE8EC;
    height: 56px;
    width: 100px;
    background: #B1DBEA;
}


.positions{
    position: relative;
    float: right;
    right: 5%;
    padding-top: 2%;
}

.end-texts{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}

.button-texts{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}

.app-lines{
    position: absolute;
    top: 20%;
    right: 6%;
    width: 224px;
    height: 0px;
    height: 0px;
    width: 224px;
    left: 201px;
    border: 2px solid #ACD7FF;
    border-radius: 0px;
}

.change-speed{
    left: 31.65%;
}