.login-component1{
    height: 350px;
    width: 536px;
    top: 25%;
    border-radius: 10px;
    background: rgba(242, 240, 240, 1);
    border: 3px solid rgba(221, 232, 236, 1);
    position: relative;
    left: 27.5%;
}

.login-component2{
    height: 500px;
    width: 536px;
    top: 20%;
    border-radius: 10px;
    background: rgba(242, 240, 240, 1);
    border: 3px solid rgba(221, 232, 236, 1);
    position: relative;
    left: 27.5%;
}

.posey1{
    position: relative;
    padding-top : 1%;
}