.login-component{
    height: 524px;
    width: 536px;
    top: 150px;
    border-radius: 10px;
    background: rgba(242, 240, 240, 1);
    border: 3px solid rgba(221, 232, 236, 1);
    position: relative;
    left: 27.5%;
}

.title-text{
    position: relative;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 33px;
    color: #10A6DC;
    top: 6%;
    text-align: center;
}

.lines{
    border: 2px solid rgba(229, 229, 229, 1);
    position: relative;
    left: 0%;
    right: 0%;
    top: 9%;
}

.fonts{
    font-family: Archivo;
    font-size: 25px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color:#000000;
}

.position1{
    position: relative;
    top: 18%;
}

.position2{
    position: relative;
    top: 30%;
}

.box{
    position: relative;
    height: 44px;
    width: 303px;
    border-radius: 0px;
    background: #F7F3F3;
    border: 3px solid #E5E5E5;
}

.pad{
    padding-top: 55px;
}

.pad-but{
    padding-top: 40px;
}

.center {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-self: center;  
}

.submit{
    height: 50px;
    width: 130px;
    border-radius: 0px;
    background: #B1DBEA;
    border-color: #DDE8EC;
    border-radius: 3px solid;
    border-image-source: linear-gradient(0deg, #DDE8EC, #DDE8EC),
    linear-gradient(180deg, #DDE8EC 0%, rgba(255, 255, 255, 0) 100%);
}

.but-text{
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
}